import random
import logging

logging.basicConfig(filename='log.log', level=logging.INFO)

def generate(n):
    sequence = list(range(1, n + 1))
    random.shuffle(sequence)
    logging.info('Сгенерирована последовательность: %s', sequence)
    return sequence

def Number(sequence, pulled):
    number = sequence.pop(0)
    pulled.append(number)
    logging.info('Вытащено число: %d', number)
    logging.info('Последовательность выпавших чисел: %s', pulled)
    return number
def main():
    try:
        n = int(input('Введите количество вытаскиваемых бочек: '))
        if n < 1:
            print('Некорректное число. Введите натуральное число')
            return
        sequence = generate(n)
        pulled = []

        while True:
            inp = input('Нажмите Enter для вытаскивания бочонка: ')

            if inp == '':
                if not sequence:
                    print('Все числа вытащены.')
                    break

                number = Number(sequence, pulled)

                print('Выпало число:', number)
            elif inp == ('q' or "Q"):
                break
    except ValueError:
        print('Некорректный ввод. Введите число.')
if __name__ == '__main__':
    main()
